<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Thirsday_Lab</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Insertt</display-name>
    <servlet-name>Insertt</servlet-name>
    <servlet-class>Thursday_Lab.Insertt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insertt</servlet-name>
    <url-pattern>/Insertt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatefirstnamej</display-name>
    <servlet-name>updatefirstnamej</servlet-name>
    <servlet-class>Thursday_Lab.updatefirstname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatefirstnamej</servlet-name>
    <url-pattern>/updatefirstnamej</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatefsname</display-name>
    <servlet-name>updatefsname</servlet-name>
    <servlet-class>Thursday_Lab.updatefsname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatefsname</servlet-name>
    <url-pattern>/updatefsname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatemidnamee</display-name>
    <servlet-name>updatemidnamee</servlet-name>
    <servlet-class>Thursday_Lab.updatemidnamee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatemidnamee</servlet-name>
    <url-pattern>/updatemidnamee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatelastname</display-name>
    <servlet-name>updatelastname</servlet-name>
    <servlet-class>Thursday_Lab.updatelastname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatelastname</servlet-name>
    <url-pattern>/updatelastname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateclasss</display-name>
    <servlet-name>updateclasss</servlet-name>
    <servlet-class>Thursday_Lab.updateclasss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateclasss</servlet-name>
    <url-pattern>/updateclasss</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatedivision</display-name>
    <servlet-name>updatedivision</servlet-name>
    <servlet-class>Thursday_Lab.updatedivision</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatedivision</servlet-name>
    <url-pattern>/updatedivision</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletedata</display-name>
    <servlet-name>deletedata</servlet-name>
    <servlet-class>Thursday_Lab.deletedata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletedata</servlet-name>
    <url-pattern>/deletedata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showdata</display-name>
    <servlet-name>showdata</servlet-name>
    <servlet-class>Thursday_Lab.showdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showdata</servlet-name>
    <url-pattern>/showdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetchdata</display-name>
    <servlet-name>fetchdata</servlet-name>
    <servlet-class>Thursday_Lab.fetchdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchdata</servlet-name>
    <url-pattern>/fetchdata</url-pattern>
  </servlet-mapping>
</web-app>